/* CSS admin */

/* Tabs management - start */
h2.nav-tab-wrapper.rest-xmlrpc-data-checker {
	padding: inherit !important;
}

section.rest-xmlrpc-data-checker {
	display: none;
}

section.rest-xmlrpc-data-checker:first-of-type {
	display: block;
}

h2.nav-tab-wrapper a.rest-xmlrpc-data-checker {
	cursor: pointer;
}

/* Tabs management - end */

.form-table .rest-xmlrpc-data-checker-indent {
	margin-left: 24px;
}

/* checkbox list */
.form-table .rest-xmlrpc-data-checker-cb-list {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	padding: 0 10px;
}

#xmlrpc_trusted_users {
	height: 200px;
}

div.update-nag.rest_basic_auth_alert,
div.update-nag.xmlrpc_enable_alert {
	margin-top: 5px;
	margin-left: 22px;
	display: none;
	background-color: #fff;
	border-left: 4px solid #ffba00;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.prettydropdown > ul {
	font: inherit !important;
}

/* users table */
div table.rest-xmlrpc-data-checker-users-list {
	table-layout: initial;
}

div table.rest-xmlrpc-data-checker-users-list th {
	padding: 8px 10px;
}

div table.rest-xmlrpc-data-checker-users-list tbody {
	display: block;
	max-height: 200px;
	overflow-y: scroll;
}

table.rest-xmlrpc-data-checker-users-list thead,
table.rest-xmlrpc-data-checker-users-list tbody tr,
table.rest-xmlrpc-data-checker-users-list tfoot {
	display: table;
	width: 100%;
	table-layout: fixed;
}

table.rest-xmlrpc-data-checker-users-list thead {
	width: calc(100% - 1.1em);
}

table.rest-xmlrpc-data-checker-users-list.cb tbody tr td {
	cursor: pointer;
}

table.rest-xmlrpc-data-checker-users-list.cb tbody tr.selected {
	background-color: #c6d5ff;
}

input[type="checkbox"].indeterminate {
	background-color: #eee;
}

/* Users list */
th.column-rest-xmlrpc-data-checker-status {
	text-align: center;
}

.rest-xmlrpc-data-checker-ok {
	color: #008000;
}

.rest-xmlrpc-data-checker-ko {
	color: #d00;
}

td.column-rest-xmlrpc-data-checker-status div.table {
	margin: auto;
	display: table;
}

td.column-rest-xmlrpc-data-checker-status div.row {
	display: table-row;
}

td.column-rest-xmlrpc-data-checker-status div.cell {
	display: table-cell;
	padding-right: 10px;
}

@media screen and ( max-width: 782px ) {

	th.column-rest-xmlrpc-data-checker-status,
	td.column-rest-xmlrpc-data-checker-status {
		text-align: inherit;
	}

	td.column-rest-xmlrpc-data-checker-status div.table {
		margin: inherit;
	}
}

/* Flex tree */
ul.flex-tree {
	padding-left: 0;
}
ul.flex-tree li span.closed:after,
ul.flex-tree li span.open:after {
	content: "\f142";
	font-family: dashicons;
	color: #72777c;
	vertical-align: bottom;
}
ul.flex-tree li span.open:after {
	content: "\f140";
}

ul.flex-tree input[type="checkbox"]:indeterminate:before {
	content: "\f460";
	font-family: dashicons;
	color: #1e8cbe;
	margin-top: 7px;
	display: inline-block;
}

@media screen and ( max-width: 782px ) {

	ul.flex-tree input[type="checkbox"]:indeterminate:before {
		margin-top: 12px;
		font-size: 20px;
		font-weight: bold;
	}
}
